<h2>Editing Book</h2>
<% if @app.errors.any? %>
  <%= @app.errors.count %>error prohibited this obj from being saved:
  <% @app.errors.full_messages.each do |message| %>
    <%= message %>
  <% end %>
<% end %>
<%= form_with model: @app, local:true do |f| %>
          <p>Title</p>
          <%= f.text_field :title %>
          <p>Opinion</p>
          <%= f.text_area :body %></br>
          <%= f.submit '編集' %>
        <% end %>

        <%= link_to "Show", app_path %>
　　　　 |
　　　　<%= link_to "Back", "/apps" %>